/** NEW FONTS Proxima Nova**/
@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/proximanovacond-regular.eot');
	src: local('☺'), url('../fonts/proximanovacond-regular.woff') format('woff'), url('../fonts/proximanovacond-regular.ttf') format('truetype'), url('../fonts/proximanovacond-regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/Mark Simonson - Proxima Nova Bold.eot');
	src: local('☺'), url('../fonts/Mark Simonson - Proxima Nova Bold.woff') format('woff'), url('../fonts/Mark Simonson - Proxima Nova Bold.ttf') format('truetype'), url('../fonts/Mark Simonson - Proxima Nova Bold.svg') format('svg');
	font-weight: 600;
	font-style: normal;
}

/** OTHER**/
.row {
    color: green;
}

.navbar{
    background: transparent;
    justify-content: space-between;
    padding-left: 0px;
    padding-right: 0px;
    align-items: flex-start;
} 

#navbarToggleExternalContent{
    align-items: flex-start;
}

.navbar-dark .navbar-toggler {
    border: hidden;
    outline: none;
    border: none;
}

#navbar-nav2 {
    flex-direction: row;
}

.text-nav2 {
    color: #727271;
    font-family: "Proxima Nova"; 
    font-size: 15px;
    font-weight: 700;
    line-height: 27px;
    text-transform: uppercase;
    letter-spacing: 0.38px;
}

.jumbotron {
    background: transparent;
}

.header {
    background-image: url('../scr/img/bg_main.png');
    background-size: cover;
    background-position: center center; 
    max-width: 1924px;
}

.text-nav {
    margin: 3em;
}

.logo_nav img {
    display: block;
    max-width: 100%;
    height: auto;
    }
    

#logo_01 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    } 

#logo_02 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1em;
        margin-bottom: 1em;
        } 

#main_wooder {
        display: flex;
        align-items: center;
}

#main_wooder{
    color: #bea67c;
    font-family: "Proxima Nova";
    font-weight: 700;
    line-height: 99.96px;
    text-transform: uppercase;
    letter-spacing: 20.01px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

/********************** MEDIA ****************/
/*  --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px; */
@media (min-width: 992px) {
    .main__wooder{
        font-size: 100px;
        margin-top: 5vh;
    }
}

@media (min-width: 768px) { 
    #main_wooder{
        font-size: 80px;
        margin-top: 100px;
    } 

    .header {
        background-image: url(../scr/img/bg_main.png);
        background-size: cover;
        background-position: center center;
        max-width: 1924px;
        height: 100vh;
    }
    #container-01 {
        margin-top: 130px;
    }

    .big{
        opacity: 0.2;
        color: #d0d0d0;
        font-family: "Proxima Nova";
        font-size: 169px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 3.36px;
    }

    #container-06{
        margin-top: 130px;
        margin-bottom: 130px;
    }

 
}
@media (min-width: 576px) { 
    #main_wooder{
        font-size: 60px;
        margin-top: 50px;
    } 
}

#container-05{
    padding-top: 13rem;
    display: flex;
    justify-content: center;
}

#button_learn{
        color: #ffffff;
        font-family: "Proxima Nova";
        font-size: 14px;
        font-weight: 700;
     
        text-transform: uppercase;
        letter-spacing: 2.8px;

        width: 307px;
        height: 58px;
        border: 2px solid #ffffff;
        border-radius: 0rem;

        align-items: center;
        margin-top: 24px;
}

#scroll_dawn{
    margin-top: 64px;
    animation: scroll_mouse 3s linear infinite;
}

@keyframes scroll_mouse{
    0% 
    {
        margin-top: 40px
    }
    25% 
    {
        margin-top: 60px   
    }
    50%,100% 
    {
        margin-top: 100px    
    }
}

.footer{
    background-image: url('../scr/img/footer_bg.png');
    background-size: cover;
    background-position: center center; 
    max-width: 1924px;
    height: 69px;
}

.container{
    display: flex;
    justify-content: flex-end;
}

#container-02{
    margin-top: 10vh;
    text-align: center;
}

#container-04{
    margin-top: 60px;
    display: flex;
    justify-content: center;
}

#container-07{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.text-nav_main_1{
    color: #010101;
    font-family: "Proxima Nova";
    font-size: 48px;
    font-weight: 700;
    line-height: 100px;
    text-transform: uppercase;
    letter-spacing: 3.36px;
}

.text-nav_main_1_2{
    margin-top: 30px;
}

.text-nav_main_2{
    color: #464646;
    font-family: "Proxima Nova";
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.38px;
}

.text-nav_main_1_2{
    color: #000000;
    font-family: "Proxima Nova";
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3.36px;
    line-height: 100px;
    letter-spacing: 1.2px;
    line-height: 60px;
}

.text-nav_main_3{
    color: #000000;
    font-family: "Proxima Nova";
    font-size: 14px;
    font-weight: 700;
    
    margin-top: 25px;
    text-transform: uppercase;
    letter-spacing: 2.8px;
}

.text-nav_main_3_left{
    justify-content: flex-start;
}

.text-nav_main_4{
    color: #000000;
    font-family: "Proxima Nova";
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.7px;
    letter-spacing: 2.7px;
}

.text_main_4_position{   
    position:  absolute;
    top: -0.8em ; 
    left: -2em;
}

.text_main_5_position{   
    position:  absolute;
    top: -0.5em ; 
    left: 11em;
}

#text-nav_main_4_dot{
    color: #bea67c;
}

#long_black_line, .line_left{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: right;
}

.line_right{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#link_learn_more{
    vertical-align: top;
}

.big_letter{
    opacity: 0.07;
    color: #bea67c;
    font-family: "Proxima Nova";
    font-size: 396px;
    font-weight: 700;
    line-height: 439.49px;
    text-transform: uppercase;
    letter-spacing: 18px;
}

#big_F_pos{
    position:  absolute;
    top: -0.8em ;
    left: -0.3em;
    z-index: 10;
}

#big_D_pos{
    position:  absolute;
    top: -0.7em ;
    left: 0.7em;
    z-index: 10;
}

.big{
    opacity: 0.2;
    color: #d0d0d0;
    font-family: "Proxima Nova";
    /* font-size: 169px; */
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3.36px;
}

#big_Furniture_pos{
    position:  absolute;
    top: 0.1em ;
    right: -4.1em;
    z-index: 10;
}

#big_about_pos{
    position:  absolute;
    right: 4em;
    z-index: 10;
}

#big_A_pos{
    opacity: 0.07;
    color: #bea67c;
    font-family: "Proxima Nova";
    font-size: 396px;
    font-weight: 700;
    line-height: 439.49px;
    text-transform: uppercase;
    letter-spacing: 18px;

    position:  absolute;
    top: 1em ;
    right: -0.6em; 
    z-index: -20;
}

#big_Decor_pos{
    position:  absolute;
    top: 0.6em ;
    right: 3.5em;
    z-index: 10;
}

#main_01_vert{
    position:  absolute;
    top: 23em ;
    right: 33em;
    z-index: 10;
}

#main_02_vert{
    position:  absolute;
    top: 22em ;
    right: 9em;
    z-index: 10;
}

.col-center-mr {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    display: flex;
    justify-content: center;
    align-items: center;
    } 

.video {
    margin-top: 6em;
    background-image: url('../scr/img/main//video_layer.png'); 
    background-size: cover;
    background-position: center center; 
    max-width: 1924px;
    height: 100vh;
}

.text-nav_main_video{
        color: #bea67c;
        font-family: "Proxima Nova";
        font-size: 48px;
        font-weight: 700;
        line-height: 60px;
        text-transform: uppercase;
        letter-spacing: 1.2px;
}

.text-nav_main_video_2{
        color: #ffffff;
        font-family: "Proxima Nova";
        font-size: 15px;
        font-weight: 400;
        line-height: 25px;
        letter-spacing: 0.38px;
}

.text-footer{
        color: #464646;
        font-family: "Proxima Nova";
        font-size: 15px;
        font-weight: 400;
        line-height: 25px;
        text-transform: uppercase;
        letter-spacing: 0.38px;
        margin-top: 1.4em;
}

.img-shadow-1 {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    overflow: hidden;
}

.text-nav.text-nav2:focus,
.text-nav.text-nav2:hover,
.dropdown-toggle.text-nav2:focus,
.dropdown-toggle.text-nav2:hover,
.logo_info.text-nav2:focus,
.logo_info.text-nav2:hover
{
    color:rgba(255,255,255,.75);
    text-decoration: none;
}

.text-nav_main_3:focus,
.text-nav_main_3:hover
{
    color:rgba(99, 99, 99, 0.75);
    text-decoration: none;
}

.products img {
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}
        
.products img:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.dropdown-menu{
    background-color:black;
}

.dropdown-item{
    color: #fff;
}